/*------------------------------------------------------------------------------------------------*\
    Sticky Footer Pattern
\*------------------------------------------------------------------------------------------------*/

/*
    NOTE: `.sticky-footer-outer-wrap` is only used for wrapper elements above `.sticky-footer-wrap` 
    up to `body` - it's always not required. You DO NOT need to use this class if:
    
       * you don't have any wrappers between `.sticky-footer-wrap` and `body`
       
       OR
       
       * your wrappers already have `height: 100%;` on them from elsewhere
*/
.sticky-footer-outer-wrap {       
    height: 100%;
}

.sticky-footer-wrap {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
}       

.sticky-footer {
    display: table-row;
    height: 1px;
}

/*------------------------------------------------------------------------------------------------*/
