/*------------------------------------------------------------------------------------------------*\
    Sticky Footer Pattern
\*------------------------------------------------------------------------------------------------*/

// Include the necessary head/body code unless fallback-bse has been included:
$fallback-base: false !default;
@if $fallback-base == false {
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
}

/*
    NOTE: `.sticky-footer-outer-wrap` is only used for wrapper elements above `.sticky-footer-wrap` 
    up to `body` - it's always not required. You DO NOT need to use this class if:
    
       * you don't have any wrappers between `.sticky-footer-wrap` and `body`
       
       OR
       
       * your wrappers already have `height: 100%;` on them from elsewhere
*/
.sticky-footer-outer-wrap {       
    height: 100%;
}

.sticky-footer-wrap {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
}       

.sticky-footer {
    display: table-row;
    height: 1px;
}

/*------------------------------------------------------------------------------------------------*/
